@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");

:root {
  --primary-color: #4666b1;
  --main-text-color: #fff;
  --dropdown-text-color: #616161;
  --dropdown-border-color: #cecece;
  --dropdown-background: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container__title {
  width: 100%;
  color: var(--main-text-color);
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}

.select-dropdown:last-child {
  margin-right: 0px;
}

.select-dropdown__button {
  padding: 10px 35px 10px 15px;
  background-color: var(--dropdown-background);
  color: var(--dropdown-text-color);
  border: 1px solid var(--dropdown-border-color);
  border-radius: 3px;
  cursor: pointer;
  width: 210px;
  text-align: left;
}

.select-dropdown__button:focus {
  outline: none;
}

.zmdi-chevron-down {
  position: absolute;
  right: 10px;
  top: 12px;
}

.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid var(--dropdown-border-color);
  border-top: 0px solid transparent;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}

.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: var(--dropdown-background);
  border-top: 1px solid var(--dropdown-border-color);
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  text-align: left;
  transition: all ease-in-out 0.3s;
}

.select-dropdown__list-item:hover,
.select-dropdown__list-item.selected {
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.select-dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0 15px 0 0;
}
